

server {
        server_name *.webesembly.com;
        root /var/www/html/wildcard.webesembly.com;
        index index.html index.htm;


    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        fastcgi_param ACCOUNT $account; # $_SERVER['ACCOUNT']
    }
}





